.productCard {
  height: 407px;
  width: calc(33.333% - 20px);
  padding: 15px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productImg {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardbottom {
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.productCardbottom div {
  width: 50%;
}

.productRate {
  padding-left: 3em;
  color: #838383;
}

.prices{
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 600;
  color: #FFA542;
}

.prices p {
  margin: 0;
  margin-left: auto;
}

.previousPrice {
  position: relative;
  right: 0.7em;
  text-align: center;
  font-size: 13px;
  color: #FFCE7F;
  text-decoration-line: line-through;
}
